<!-- ko if: isDisplayed() -->
    <tr class="totals sub">
        <th class="mark" colspan="1" scope="row" data-bind="i18n: title"></th>
        <td class="amount">
            <span class="price" data-bind="text: getFormattedPrice(getValue())"></span>
        </td>
    </tr>
<!-- /ko -->